*.bcf
*.blg
*.bbl
*.run.xml
*.synctex.gz
*.pdf
*.tex
*.new
dist
dist-newstyle
.stack-work
.HTF
\#*#
*~
*.lkshs
*.lkshw
*/*.lkshs
*/*.lkshw
unused.txt
*.autosave*
cabal.project.local
ideaHaskellLib
out
testForLitText
site/baked/*
docs/site/baked
docs/site/baked/.shake.database
*.sav
*.bak
.haskell-code-explorer
**/*.sync-conflict-*
**/baked*
**/*.log
**/*.out
**/*.idx
**/*.aux

report.html
docs/site/resfile4checkProcess.txt
